## Retrieving and Importing Financial Data from the Web into Python

This project shows how to retrive easily financial and economic data from the Web. This allows to circumvent numerous steps that are usually used in the financil industry.

In [6]:
import csv
import requests 
import quandl # needs to -- pip install quandl -- before
from bs4 import BeautifulSoup # needs to -- pip install bs4 -- before
import pandas as pd 
from pandas_datareader import data as web
from datetime import datetime

### 1. Quandl

#### 1.1 Stocks

In [53]:

auth_tok = '********************'   # needs your own authorization token/key, which can be freely obtained on Quandl website

def get_data_quandl(symbol, start_date, end_date):
    data = quandl.get('WIKI/' + symbol, trim_start = start_date, trim_end = end_date, authtoken = auth_tok)
    return data 

symbol = str(input("Enter the symbol: "))
start_date = str(input("Enter the start of the sample period (yyyy-mm-dd): "))
end_date = str(input("Enter the end of the sample period (yyyy-mm-dd): "))

data = get_data_quandl(symbol, start_date , end_date)
data = data.round(2)
data # Alphabet/Google stock in this case

Enter the symbol: GOOGL
Enter the start of the sample period (yyyy-mm-dd): 2009-01-01
Enter the end of the sample period (yyyy-mm-dd): 2017-12-31

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2009-01-02,308.60,321.82,305.50,321.32,7213700.0,0.0,1.0,154.78,161.41,153.22,161.16,7213700.0
2009-01-05,321.00,331.24,315.00,328.05,9768200.0,0.0,1.0,161.00,166.13,157.99,164.53,9768200.0
2009-01-06,332.98,340.80,326.39,334.06,12837500.0,0.0,1.0,167.01,170.93,163.70,167.55,12837500.0
2009-01-07,328.32,330.91,318.75,322.01,8980000.0,0.0,1.0,164.67,165.97,159.87,161.50,8980000.0
2009-01-08,318.28,325.19,317.34,325.19,7194100.0,0.0,1.0,159.63,163.10,159.16,163.10,7194100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-22,1070.00,1071.72,1067.64,1068.86,860800.0,0.0,1.0,1070.00,1071.72,1067.64,1068.86,860800.0
2017-12-26,1068.64,1068.86,1058.64,1065.85,914574.0,0.0,1.0,1068.64,1068.86,1058.64,1065.85,914574.0
2017-12-27,1066.60,1068.27,1058.38,1060.20,1027634.0,0.0,1.0,1066.60,1068.27,1058.38,1060.20,1027634.0
2017-12-28,1062.25,1064.84,1053.38,1055.95,982285.0,0.0,1.0,1062.25,1064.84,1053.38,1055.95,982285.0
2017-12-29,1055.49,1058.05,1052.70,1053.40,1156357.0,0.0,1.0,1055.49,1058.05,1052.70,1053.40,1156357.0

#### 1.2 Currencies

In [37]:

GBPUSD = quandl.get('CURRFX/GBPUSD', start_date="1995-12-31", end_date="2017-12-31")
GBPUSD = GBPUSD.round(4)
GBPUSD

              Rate  High (est)  Low (est)
Date
1996-01-01  1.5499      1.5670     1.5329
1996-01-02  1.5511      1.5700     1.5325
1996-01-03  1.5506      0.0000     0.0000
1996-01-04  1.5500      1.5675     1.5327
1996-01-05  1.5531      1.5720     1.5345
...            ...         ...        ...
2017-12-25  1.3365      1.3396     1.3360
2017-12-26  1.3376      1.3380     1.3349
2017-12-27  1.3375      1.3432     1.3370
2017-12-28  1.3404      1.3457     1.3399
2017-12-29  1.3441      1.3542     1.3439

[6383 rows x 3 columns]

#### 1.3 Economic Data

In [47]:

# This call gets the US GDP from the Federal Reserve Economic Data
# Note that you need to know the "Quandl code" of each dataset you download.
USGDP = quandl.get('FRED/GDP', start_date = '1986-12-31', end_date = '2020-12-31
USGDP = USGDP.round(2)
USGDP

               Value
Date
1987-01-01   4722.16
1987-04-01   4806.16
1987-07-01   4884.56
1987-10-01   5007.99
1988-01-01   5073.37
...              ...
2018-10-01  20897.80
2019-01-01  21098.83
2019-04-01  21340.27
2019-07-01  21542.54
2019-10-01  21726.78

[132 rows x 1 columns]

#### 1.4 Commodities

In [51]:

 # This call gets the WTI Crude Oil price from the US Department of Energy.
 # Note that you need to know the "Quandl code" # of each dataset you download 
 OILWTI = quandl.get('EIA/PET_RWTC_D')
 OILWTI

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2020-03-10  34.47
2020-03-11  33.13
2020-03-12  31.56
2020-03-13  31.72
2020-03-16  28.96

[8639 rows x 1 columns]

### 2. Yahoo Finance

###### Downloading financial data from Yahoo Finance implies a different method than Quandl, that is the Web Scraping approach

#### 2.1 Stocks

In [8]:

# Ticker - you can enter any stock symbol e.g. AAPL, GE, MSFT as well as Indices, e.g. the symbol for the S&P500 is ^GSPC.
ticker = str(input("Enter the symbol: "))

# Start_date
start_date = str(input("Enter the start of the sample period (yyyy-mm-dd): "))

# End_date
end_date = str(input("Enter the end of the sample period (yyyy-mm-dd): "))

data = web.DataReader(ticker, data_source='yahoo', start=start_date, end=end_date)
data = data.round(2)
data

Enter the symbol: AAPL
Enter the start of the sample period (yyyy-mm-dd): 2003-09-15
Enter the end of the sample period (yyyy-mm-dd): 2016-03-15

              High     Low    Open   Close      Volume  Adj Close
Date
2003-09-15    1.64    1.58    1.63    1.59  56711200.0       1.38
2003-09-16    1.62    1.59    1.59    1.60  67251800.0       1.39
2003-09-17    1.60    1.56    1.60    1.58  72349200.0       1.37
2003-09-18    1.64    1.57    1.58    1.63  63226800.0       1.42
2003-09-19    1.65    1.60    1.63    1.61  51489200.0       1.40
...            ...     ...     ...     ...         ...        ...
2016-03-09  101.58  100.27  101.31  101.12  27201700.0      94.78
2016-03-10  102.24  100.15  101.41  101.17  33513600.0      94.83
2016-03-11  102.28  101.50  102.24  102.26  27408200.0      95.85
2016-03-14  102.91  101.78  101.91  102.52  25076100.0      96.09
2016-03-15  105.18  103.85  103.96  104.58  40067700.0      98.02

[3147 rows x 6 columns]

#### 2.2 Currencies

In [20]:

names = []
prices = []
changes = []
percentChanges = []
marketCaps = []
totalVolumes = []
circulatingSupplys = []
 
CurrenciesUrl = "https://in.finance.yahoo.com/currencies"
req = requests.get(CurrenciesUrl)
dataCurrencies = req.text
soup = BeautifulSoup(dataCurrencies)
 
counter = 40
for i in range(40, 404, 14):
    for listing in soup.find_all('tr', attrs={'data-reactid':i}):
        for name in listing.find_all('td', attrs={'data-reactid':i+3}):
             names.append(name.text)
        for price in listing.find_all('td', attrs={'data-reactid':i+4}):
             prices.append(price.text)
        for change in listing.find_all('td', attrs={'data-reactid':i+5}):
             changes.append(change.text)
        for percentChange in listing.find_all('td', attrs={'data-reactid':i+7}):
             percentChanges.append(percentChange.text)
dfCurrencies = pd.DataFrame({"Name": names, "Price": prices, "Change": changes, "% Change": percentChanges})
# dfCurrencies.to_csv(r'C:\Users\[UserName]\Currencies.csv') if you need to export to an Excel/csv file
dfCurrencies

       Name        Price     Change  % Change
0   USD/INR      75.3940    +0.3540  +0.4717%
1   EUR/INR      80.4516    +0.2153    +0.27%
2   GBP/INR      87.3240    +1.0720    +1.24%
3   AED/INR      20.4830    +0.0980    +0.48%
4   INR/JPY       1.4714    -0.0008    -0.05%
5   SGD/INR      52.0530    +0.3270    +0.63%
6   USD/IDR  16,269.0000  +560.0000    +3.56%
7   USD/THB      32.6700    +0.1000    +0.31%
8   USD/MYR       4.4279    +0.0179    +0.41%
9   USD/ZAR      17.5913    +0.1695    +0.97%
10  USD/RUB      79.7520    +0.6315    +0.80%
11  AUD/USD       0.5804    +0.0064    +1.11%
12  AUD/JPY      64.3010    +0.7010    +1.10%
13  NZD/USD       0.5686    +0.0010    +0.18%
14  EUR/USD       1.0705    +0.0039    +0.36%
15  EUR/CAD       1.5343    -0.0120    -0.78%
16  USD/JPY     110.7950    -0.0600    -0.05%
17  GBP/USD       1.1646    +0.0168    +1.47%
18  USD/CHF       0.9851    -0.0025    -0.25%
19  USD/CAD       1.4350    -0.0148    -1.02%
20  EUR/JPY     118.4990    +0.2290    +0.19%
21  GBP/JPY     129.1990    +1.9560    +1.54%
22  EUR/GBP       0.9179    -0.0112    -1.21%
23  EUR/SEK      11.0970    +0.0227    +0.20%
24  EUR/CHF       1.0540    +0.0008    +0.07%
25  EUR/HUF     349.3200    -7.7600    -2.17%

#### 2.3 World Indices

In [24]:

prices = []
names = []
changes = []
percentChanges = []
marketCaps = []
totalVolumes = []
circulatingSupplys = []
 
WorldIndicesUrl = "https://in.finance.yahoo.com/world-indices"
req = requests.get(WorldIndicesUrl)
dataWorldIndices = req.text
soup = BeautifulSoup(dataWorldIndices)
 

for row in soup.find_all('tbody'):
    for srow in row.find_all('tr'):
        for name in srow.find_all('td', attrs={'class':'data-col1'}):
            names.append(name.text)
        for price in srow.find_all('td', attrs={'class':'data-col2'}):
            prices.append(price.text)
        for change in srow.find_all('td', attrs={'class':'data-col3'}):
            changes.append(change.text)
        for percentChange in srow.find_all('td', attrs={'class':'data-col4'}):
            percentChanges.append(percentChange.text)       
                
dfWorldIndices = pd.DataFrame({"Name": names, "Price": prices, "Change": changes, "% Change": percentChanges})
#dfWorldIndices.to_csv(r'C:\Users\[UserName]\World Indices.csv') # if you need to export to an Excel/csv file
dfWorldIndices

                         Name      Price     Change % Change
0                  BSE SENSEX  29,915.96  +1,627.76   +5.75%
1                    Nifty 50   8,745.45    +482.00   +5.83%
2                         Dow  19,173.98    -913.22   -4.55%
3                      Nasdaq   6,879.52    -271.06   -3.79%
4                      Nikkei  16,552.83    -173.77   -1.04%
5             HANG SENG INDEX  22,805.07  +1,095.97   +5.05%
6                 S&P/ASX 200   4,816.60     +33.70   +0.70%
7         TSEC weighted index   9,234.09    +552.75   +6.37%
8                   STI Index   2,410.74     +99.74   +4.32%
9         SSE Composite Index   2,745.62     +43.49   +1.61%
10    Jakarta Composite Index   4,194.94     +89.52   +2.18%
11      KOSPI Composite Index   1,566.15    +108.51   +7.44%
12                    S&P 500   2,304.92    -104.47   -4.34%
13                        Dow  19,173.98    -913.22   -4.55%
14             ALL ORDINARIES   4,854.30     +44.90   +0.93%
15   FTSE Bursa Malaysia KLCI   1,303.28     +83.56   +6.85%
16  NYSE AMEX COMPOSITE INDEX   1,408.94      +9.38   +0.67%
17               Russell 2000   1,013.89     -44.86   -4.24%
18      CBOE Volatility Index      66.04      -5.96   -8.28%
19    S&P/TSX Composite index  11,851.81    -318.69   -2.62%
20                   FTSE 100   5,190.78     +39.17   +0.76%
21      DAX PERFORMANCE-INDEX   8,928.95    +318.52   +3.70%
22                     CAC 40   4,048.80    +193.31   +5.01%
23             ESTX 50 PR.EUR   2,548.50     +94.42   +3.85%
24               EURONEXT 100     792.16     +35.21   +4.65%
25                     BEL 20   2,771.49    +135.47   +5.14%
26          MOEX Russia Index   2,331.61     +55.91   +2.46%
27                   IBOVESPA  67,069.36  -1,262.44   -1.85%
28                 IPC MEXICO  34,269.51    -874.09   -2.49%
29               S&P/CLX IPSA   5,058.88       0.00    0.00%
30                     MERVAL  38,390.84    +233.89   +0.61%
31                     TA-125   1,115.46     -46.34   -3.99%
32  EGX 30 Price Return Index   9,750.66    +993.96  +11.35%
33   Top 40 USD Net TRI Index   2,227.71    +110.83   +5.24%
34     S&P/NZX 50 INDEX GROSS   9,196.42     +81.89   +0.90%

#### 2.4 Commodities

In [25]:

prices = []
names = []
changes = []
percentChanges = []
marketCaps= []
marketTimes = []
totalVolumes = []
openInterests = []
 
CommoditiesUrl = "https://in.finance.yahoo.com/commodities"
req = requests.get(CommoditiesUrl)
dataCommodities = req.text
soup = BeautifulSoup(dataCommodities)
 

for row in soup.find_all('tbody'):
    for srow in row.find_all('tr'):
        for name in srow.find_all('td', attrs={'class':'data-col1'}):
            names.append(name.text)
        for price in srow.find_all('td', attrs={'class':'data-col2'}):
            prices.append(price.text)
        for time in srow.find_all('td', attrs={'class':'data-col3'}):
            marketTimes.append(time.text)
        for change in srow.find_all('td', attrs={'class':'data-col4'}):
            changes.append(change.text)
        for percentChange in srow.find_all('td', attrs={'class':'data-col5'}):
            percentChanges.append(percentChange.text)
        for volume in srow.find_all('td', attrs={'class':'data-col6'}):
            totalVolumes.append(volume.text)
        for openInterest in srow.find_all('td', attrs={'class':'data-col7'}):
            openInterests.append(openInterest.text)
                
dfCommodities = pd.DataFrame({"Name": names, "Price": prices, "Change": changes, "% Change": percentChanges, "Market Time": marketTimes, 'Open Interest': openInterests , "Volume": totalVolumes})
# dfCommodities.to_csv(r'C:\Users\[UserName]\Commodities.csv') if you need to export to an Excel/csv file
dfCommodities

,Name,Price,Change,% Change,Market Time,Open Interest,Volume
0,Gold Apr 20,"1,501.10",+21.80,+1.47%,4:59PM EDT,"214,763","253,577"
1,Silver May 20,12.63,+0.50,+4.09%,4:59PM EDT,"100,055","74,438"
2,Copper May 20,2.1530,-0.0325,-1.49%,4:59PM EDT,"104,984","87,315"
3,Crude Oil May 20,23.64,-2.27,-8.76%,4:59PM EDT,"529,246",1.092M
4,Brent Crude Oil Last Day Financ,27.41,-1.06,-3.72%,4:57PM EDT,"24,252","51,408"
5,Natural Gas Apr 20,1.5770,-0.0770,-4.66%,4:59PM EDT,"88,777","139,912"
6,Corn May 20,345.50,0.00,0.00%,2:19PM EDT,"498,392","175,220"
7,Oats May 20,262.25,+1.00,+0.38%,2:19PM EDT,"2,537",214
8,"KC HRW Wheat Futures,May-2020,C",475.50,+6.00,+1.28%,2:19PM EDT,"106,414","29,603"
9,Rough Rice May 20,13.30,-0.62,-4.45%,2:19PM EDT,"8,274","1,029"
10,Soybeans May 20,864.00,+20.75,+2.46%,2:19PM EDT,"286,518","112,815"
11,Feeder Cattle Apr 20,120.75,+3.68,+3.14%,2:04PM EDT,"7,121","3,992"
12,Lean Hogs Apr 20,62.225,+1.075,+1.76%,2:04PM EDT,"33,086","9,474"
13,Live Cattle Apr 20,99.50,+4.40,+4.63%,2:04PM EDT,"42,349","16,064"
14,Cocoa May 20,"2,215.00",-15.00,-0.67%,1:29PM EDT,"72,327","27,298"
15,Coffee May 20,119.80,+0.10,+0.08%,1:29PM EDT,"75,696","24,830"
16,Cotton May 20,53.63,-0.05,-0.09%,2:19PM EDT,"92,157","22,807"
17,Lumber May 20,319.20,-0.60,-0.19%,4:03PM EDT,"1,539",287
18,Orange Juice May 20,104.75,-0.80,-0.76%,1:59PM EDT,"10,616","2,510"
19,Sugar #11 May 20,10.90,-0.01,-0.09%,1:00PM EDT,"326,324","83,716"